 <!DOCTYPE html>
<html>
     <head>
     <title>Yelp Camp</title> 
     <link href="https://fonts.googleapis.com/css?family=Fauna+One|Open+Sans|Oswald|Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">
     <!-- Material Icon -->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!-- Semantic -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.css"/>
    <!-- Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
    <!-- local --> 
    <link rel="stylesheet" href="/assets/css/style.css"/>
    
 </head>
 <body class="bg">
          <!-- jQuery is required -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
          
<% var isLoggedIn = false,name = "",pic="" %>
         <% if(currentUser){ isLoggedIn = true; %> 
          <% name = currentUser.username; %>
           <% pic = currentUser.profilepic; %>
         <%  }%>
           <nav>
            <div class="nav-wrapper teal">
              <a href="/" class="brand-logo"><i class="yelp icon"></i>Yelp Camp</a>
              <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
               <% if(isLoggedIn){ %>
                <li><a href="/campgrounds/new">Add New Campground</a></li>
                <li><a href="/campgrounds">Campgrounds</a></li>
                <% } %>
                <li>
                <a href="#" class='dropdown-button largoLogo' id="circularBtn" data-activates='dropdown1' data-beloworigin="true" >
                    <% if(!isLoggedIn) { %>
                    <i class="large material-icons">account_circle</i>
                    <% }else{ %>
                    <span><img class="ui mini circular image" id="circularImg" src="<%=pic%>"></span>
                    <% } %>
                </a></li>

                 <li>
                    <ul id='dropdown1' class='dropdown-content'>
                    <% if(isLoggedIn){ %>
                     <li><a href="#"><i class="user icon"></i><%=name%></a></li>
                    <li><a href="/logout"><i class="sign out icon"></i>Log Out</a></li>
                    <% }else{ %>
                    <li><a href="#modal1" class="modal-trigger"><i class="sign in icon"></i>Log In</a></li>
                    <% } %>
                  </ul>
                </li>      
                 <!-- Dropdown Structure -->
              </ul>
                      <ul class="side-nav" id="mobile-demo">
                       <% if(isLoggedIn){ %>
                       <li><img class="ui mini circular image center" id="circularImg" src="<%=pic%>"><a href="#" class="center"><%=name%></a></li>
                        <li><a href="/campgrounds/new"><i class="plus icon"></i>Add New Campground</a></li>
                        <li><a href="/campgrounds"><i class="world icon"></i>Campgrounds</a></li>
                        <% } %>
                            <% if(isLoggedIn){ %>
                            <li><a href="/logout"><i class="sign out icon"></i>Log Out</a></li>
                            <% }else{ %>
                            <li><a href="#modal1" class="modal-trigger"><i class="sign in icon"></i>Log In</a></li>
                            <% } %>        
                      </ul>
            </div>
          </nav>

         
         
         
    
          <!-- Modal Structure -->
        <div class="row">
            <div class="col">
           <div id="modal1" class="modal">
           <h4 class="createNewHeading">Sign in to Yelp Camp</h4>
            <form action="/login" method="POST" class="createNew"> 
                        <div class="row">
                            <div class="input-field col xs8 s8 xl6 l6 offset-xl3 offset-l3 offset-s2 offset-xs2">
                              <input name="username" id="username" type="text" class="validate">
                              <label class="active" for="username">User Name</label>
                            </div>
                        </div>
                      <div class="row">
                        <div class="input-field col xs8 s8 xl6 l6 offset-xl3 offset-l3 offset-s2 offset-xs2">
                          <input name="password" id="password" type="password" class="validate">
                          <label for="password">Password</label>
                        </div>
                      </div>
                        <div class="row">
                         <div class="input-field col xs8 s8 xl6 l6 offset-xl3 offset-l3 offset-s2 offset-xs2">
                          <button type="submit" class="waves-effect waves-light btn">Log In</button></br></br>
                             <a href="/register">Don't have an account?</a>
                          </div>
                        </div>
                  </form>
          </div>
            </div>
        </div>



         <div class="container main">
<!--  flash message        -->
            <% if(success && success.length >0){ %>
                <div class="ui positive message">
                  <i class="close icon"></i>
                      <div class="header">
                        Success
                      </div>
                  <p><%=success%></p>
                </div>
            <% } %> 
            <% if(error && error.length >0){ %>
                <div class="ui negative message">
                      <i class="close icon"></i>
                          <div class="header">
                            Oops
                          </div>
                      <p><%=error%></p>
                </div>  
            <% } %>     
<!--  flash message end       -->            
            
<div class="landingBody main">

     <div class="ui center aligned container">
        <h1 class="ui center aligned header">
            Welcome to Yelp Camp!
            <h5 class="sub header gap">View our hand-picked campgrounds from all over the world.</h5>
        </h1>

        <a class="waves-effect waves-light btn-large modal-trigger" id="landingBtn" modal-trigger" href="/campgrounds">
            View All Campgrounds
        </a>
    </div>   
</div>

     
<% include ./partials/footer %>