<% include ../partials/header %>

<!--CONTENT STARTS HERE-->

    <div class="campgroundContainer main">
          
          
                    <!-- Modal Structure -->
          <div id="modal1" class="modal">
           <h4 class="createNewHeading">Sign in to Yelp Camp</h4>
            <form action="/login" method="POST" class="createNew"> 
                        <div class="row">
                            <div class="input-field col s12 s12 xl6 l6 offset-xl3 offset-l3">
                              <input name="username" id="username" type="text" class="validate">
                              <label class="active" for="username">User Name</label>
                            </div>
                        </div>
                      <div class="row">
                        <div class="input-field col s12 s12 xl6 l6 offset-xl3 offset-l3">
                          <input name="password" id="password" type="password" class="validate">
                          <label for="password">Password</label>
                        </div>
                      </div>
                        <div class="row">
                         <div class="input-field col s12 s12 xl6 l6 offset-xl3 offset-l3">
                          <button type="submit" class="waves-effect waves-light btn">Log In</button>
                             <a href="/register" class="leftMargin50">Don't have an account?</a>
                          </div>
                        </div>
                  </form>
          </div>
          
          
          
          
          
          
           <div class="row">
            <% campgrounds.forEach(function(camp){ %>
                <div class="col xs12 s12 m6 l4 xl4">
                    <div class="card small">
                        <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" src="<%=camp.image%>">
                        </div>
                        <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4" style="font-size:20px"><%=camp.name%><i class="material-icons right">more_vert</i></span>
                          <p><a href="/campgrounds/<%=camp._id%>">Details</a></p>
                        </div>
                        <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4"><%=camp.name%><i class="material-icons right">close</i></span>
                                <% if(camp.desc) {      %>
                                <p>
                                <%=get50words(camp.desc)+" ..."%>
                                </p>
                                <% }  %>
                        </div>
                     </div>
                </div>        
            <% }); %>
        </div>
</div>
<!--END OF CONTANT-->




<% function get50words(str) {   %>
<%  var arr = str.split(" ");   %>
<%    var newArr = [];          %>
<%    for(var i=0;i<50;i++){    %>
<%        newArr.push(arr[i]);  %>
<%  }                           %>
<%  return newArr.join(" ");    %>
<% }                            %>


<% include ../partials/footer %>






